name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: jruby-10.0.2.0
            os: ubuntu-latest
          - ruby: jruby-9.4.14.0
            os: macos-latest
          - ruby: "4.0"
            os: ubuntu-latest
            valgrind: true
          - ruby: truffleruby-33.0.1
            os: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake test

      - if: ${{ matrix.valgrind }}
        run: |
          sudo apt-get update && sudo apt-get install valgrind
          bundle exec rake test:valgrind
